{% extends 'blog/base.html' %}
    {% block content %} 
    <hr class="style-one">
        <div class="row">
            <div class="col-lg-6">
                <div class="post">
                    {% if post.published_date %}
                    <div class="date">
                        <a>Publish Date:  </a>{{ post.published_date }}
                    </div>
                    {% endif %}        
                    {% if post.author %}
                    <div class="author">
                        <a>Author:  </a>{{ post.author }}
                    </div>
                    {% endif %}
                    <div class="category">
                        <a>Category:  </a>{{ post.category }}
                    </div>
                </div>
                <div class="post-body">
                    <h2>
                        <a>{{ post.title }}</a>
                    </h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                </div>
                <div class="col-lg-6">
                {% if post.image %}
                <img src="{{ post.image.url}}" alt="{{ post.title }}" class="post-image img-fluid">
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="edit">
                        <div>
                            <button type="button" class="btn btn-warning btn-lg" onclick="window.location.href='{% url 'post_edit' pk=post.pk %}';"><i class="fa fa-pencil" aria-hidden="true"></i>Edit The Post</button>
                        </div>
                        
                    </div>
                    {% endif %}
            </div>
        </div>       
    {% endblock %}
